div.views-row {
    border: 6px solid rgb(83, 83, 83);;
    border-radius: 10px;
    margin-bottom: 40px;
    > article{
        h2 {
            font-size: 3rem;
            margin-bottom: 20px;
            a {
                color: rgb(75, 75, 75);
            }
        }
        > div {
            > ul {
                > li {
                    a {
                        color: rgb(75, 75, 75);
                    }
                }
            }
        }
    }
}
div.view-content {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 150px;
}
@media screen and (max-width: 1224px) {
    div.view-content {
         width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}