main {
    display: flex;
    justify-content: start;
    width: 1500px;

    > div {
        display: flex;
        width: 100%;
        justify-content: start;

        .views-row {
            border: 7px solid black;
            border-radius: 10px;
            margin-bottom: 40px;
            min-width: 700px;
        }

        #block-janiectheme-page-title {
            h1 {
                font-size: 64;
                font-weight: 800;
            }
        }
    }
}