main {
    display: flex;
    justify-content: start;
    width: 100%;
    > div {
        display: flex;
        width: 100%;
        justify-content: start;

        #block-janiectheme-page-title {
            h1 {
                font-size: 3rem;
                font-weight: 800;
                margin-bottom: 30px;
            }
        }
    }
}