main {
    display: flex;
    justify-content: start;
    width: 1500px;

    > div {
        display: flex;
        width: 100%;
        justify-content: start;

        #block-janiectheme-page-title {
            h1 {
                font-size: 64;
                font-weight: 800;
            }
        }
    }
}