header { 
    width: 100%;
    > div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    #block-janiectheme-site-branding {
        img {
            width: 300px;
        }
    }
    nav {
        > ul {
            list-style-type: none;
            display: flex;
            padding: 0;
            li {
                margin: 20px;
            }
            li:first-child {
                margin-left: 0px;
            }
        }
    }
}