.text {
    color: rgb(115, 111, 60);
}

.layout-container {
    width: 1500px;
}

#block-janiectheme-main-menu {
    background-color: red;
}

#block-janiectheme-account-menu {
    background-color: pink;
}

#block-janiectheme-site-branding {
    width: 500px;
}